<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         verbose="true"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="APP_DEBUG" value="false" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="KERNEL_CLASS" value="Odandb\DoctrineCiphersweetEncryptionBundle\Tests\App\Kernel" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="999999" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
        <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="true"/>
        <env name="DOCTRINE_CIPHERSWEET_KEY" value="d6e9b37eacf3da581519a71f29a1d08e5552d3cf490d75db33b1c6f8e4b4fe50"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
